List - what is list: A list is a sequential collection of objects

List - Why list: we need it to organize data in the code

How to create a lsit

In [34]:
names = ["Mackay", "Daniel", "Steve", "Blessing", "Jesus", "Juliet"]
print(names)
prime_numbers = [2, 3, 5, 7, 11, 13]
income_per_hour = [7.5, 10.5, 50.5, 6.6, 7.7]
print(prime_numbers)
print(income_per_hour)

data = ["income", 25, 7.5]
print(data)

['Mackay', 'Daniel', 'Steve', 'Blessing', 'Jesus', 'Juliet']
[2, 3, 5, 7, 11, 13]
[7.5, 10.5, 50.5, 6.6, 7.7]
['income', 25, 7.5]

Operations on List

In [27]:
#Length of a list
print("Length of list names:", len(names))
print("Length of prime numbers list:", len(prime_numbers))

#Slicing - a way to extract items from a list or a collection
print()
print(names)
print("First element in the list:", names[0])
print("Second element in the list:", names[1])
print("The last element:", names[5])

print()
print("slicing a range: ",names[1:4])
print("slicing a range: ",names[1:5])
print("The last element:", names[-1])
print("Extracting first 3 elements", names[0:3])
print("Extracting first 3 elements", names[:3])
print("Extracting the last 2 elements", names[-2:]) #Best solution


print()
print("Extracting the last 2 elements:", names[4:]) #can work too

Length of list names: 6
Length of prime numbers list: 6

['Mackay', 'Daniel', 'Steve', 'Blessing', 'Jesus', 'Juliet']
First element in the list: Mackay
Second element in the list: Daniel
The last element: Juliet

slicing a range:  ['Daniel', 'Steve', 'Blessing']
slicing a range:  ['Daniel', 'Steve', 'Blessing', 'Jesus']
The last element: Juliet
Extracting first 3 elements ['Mackay', 'Daniel', 'Steve']
Extracting first 3 elements ['Mackay', 'Daniel', 'Steve']
Extracting the last 2 elements ['Jesus', 'Juliet']

Extracting the last 2 elements ['Jesus', 'Juliet']

In [42]:
#Appending an element to a list
prime_numbers = [2, 3, 5, 7, 11, 13]
print("Initial list before appending: ", prime_numbers, "Length = ", len(prime_numbers))
prime_numbers.append(17)
print("Final list after appending: ", prime_numbers, "Length = ", len(prime_numbers))


#use case of append

digits = [20, 1, 35, 16, 2, 3, 7, 9, 8]

new_list = []
for item in digits:
  if item < 10:
    new_list.append(item)

print()
print(digits)
print(new_list)

#adding an elemet to a list based on position
print()
prime_numbers = [2, 3, 5, 7, 11, 13]
print(prime_numbers)

#wrong way to insert an elemtnt to a list
# prime_numbers[2] = 17  #this will overwrite the number at position 2
# print(prime_numbers)

#Rignt way to Insert an element to a list
prime_numbers.insert(2, 17)
print(prime_numbers)

Initial list before appending:  [2, 3, 17, 7, 11, 13] Length =  6
Final list after appending:  [2, 3, 17, 7, 11, 13, 17] Length =  7

[20, 1, 35, 16, 2, 3, 7, 9, 8]
[1, 2, 3, 7, 9, 8]

[2, 3, 5, 7, 11, 13]
[2, 3, 17, 5, 7, 11, 13]

In [85]:
var = 20
print(var)

print(var == 30)

20
False

In [50]:
#Extend
prime_numbers = [2, 3, 5, 7, 11, 13]
additional_primes = [17, 23, 29]
print("Before extending:", prime_numbers)

prime_numbers.extend(additional_primes)
print("After extending: ", prime_numbers)

#adding another list to a specific position of a list

first_five_nums = [1,2,3,4,5]
next_three = [6,7,8]

#Goal: final list = [1,2,3,6,7,8,4,5]
print()
final_list = first_five_nums[:3] + next_three + first_five_nums[-2:]
print(final_list)

#List of list
print()
name_age_lst = [["Mack", 20], ["Austin", 35], ["Ade", 25], ["Dare", 28], ["Godspower", 50]]
print(name_age_lst)
print(name_age_lst[0][0])

Before extending: [2, 3, 5, 7, 11, 13]
After extending:  [2, 3, 5, 7, 11, 13, 17, 23, 29]

[1, 2, 3, 6, 7, 8, 4, 5]

[['Mack', 20], ['Austin', 35], ['Ade', 25], ['Dare', 28], ['Godspower', 50]]
Mack

In [59]:
#Sorting
prime_numbers = [17, 23, 27, 2, 3, 5, 7, 11, 13]
print("Original List", prime_numbers)

# sorted_list = sorted(prime_numbers) #first way to sort
# print("Sorted List: ", sorted_list)

#second way to sort
prime_numbers.sort(reverse = True) #in descending order. 
print("Sorted List: ", prime_numbers)

Original List [17, 23, 27, 2, 3, 5, 7, 11, 13]
Sorted List:  [27, 23, 17, 13, 11, 7, 5, 3, 2]

In [82]:
#For loop operation on list
#Change all names to lower case
names = ["Mackay", "Daniel", "Steve", "Blessing", "Jesus", "Juliet"]
#print(names)
names_lower_case = []
for item in names: 
  item = item.lower()
  names_lower_case.append(item)
#print(names_lower_case)


#write a program that counts all the names that starts with a J
# names.extend(["Jeremiah", "Jay", "Jael", "Mike", "Joseph"])
# print(names)

# count = 0
# for name in names:
#   if name.startswith("J"):
#     count = count + 1
#   else:
#     continue
# print()
# print("Count of names that starts with J: ", count)

#write a program that counts all the names that starts with a J
names.extend(["Jeremiah", "Jay", "Jael", "Mike", "Joseph"])
print(names)

count = 0
for name in names:
  if name[0] == "J":
    count = count + 1
  else:
    continue
print()
print("Count of names that starts with J: ", count)

['Mackay', 'Daniel', 'Steve', 'Blessing', 'Jesus', 'Juliet', 'Jeremiah', 'Jay', 'Jael', 'Mike', 'Joseph']

Count of names that starts with J:  6

In [75]:
#List comprehension 
names_with_lower = [name.lower() for name in names] #list comprehension
print(names_with_lower)

names_with_j = [name for name in names if name.startswith("J")]
names_with_j

#List comprehension syntax: [value then for loop] or [value for loop if condition else value]

['mackay', 'daniel', 'steve', 'blessing', 'jesus', 'juliet', 'jeremiah', 'jay', 'jael', 'mike', 'joseph']

['Jesus', 'Juliet', 'Jeremiah', 'Jay', 'Jael', 'Joseph']

In [78]:
#removing an element
print(prime_numbers)
prime_numbers.pop()
print(prime_numbers)

[27, 23, 17, 13, 11, 7, 5, 3]
[27, 23, 17, 13, 11, 7, 5]

In [81]:
#To remove any other element.
#Remove by index and use del

#E.g

del prime_numbers[0]
print(prime_numbers)

[17, 13, 11, 7, 5]

In [ ]:
# Next class
# - how to initialize
# - slicing
# - Append
# - Add at particular location (insert)
# - remove (pop, del, change in place)
# - Extend
# - sort (two methods)
# - For loop using List (capitalize, enumerate, add, multiply each element, join)
# - list comprehension (sytax, example - can do add multiply example)
#- Count operation (report count of names that start with D)

In [ ]:
# Next class : Aug 30
# - Go through Dictionaries
# - Start Numpy